body {
    /*display: flex;*/
    /*min-height: 100vh;*/
    /*flex-direction: column;*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0;
}
html {
  margin: 0;
  height: 100%;
}

.app {
    min-height:100%;
    margin-bottom:-180px;
}

footer {
  height: 180px;
}
